<a href="https://colab.research.google.com/github/al34n1x/ds_demo/blob/main/1.notebooks/1.pandasai_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PandasAI Demo

El objetivo del siguiente demo es poder introducir a los candidatos en el mundo de la ciencia de datos.
Para ello utilizaremos librerías de `Python` ampliamente reconocidas e implementadas por analistas y científicos de datos.
A su vez, crearemos una interface con OpenAI para poder realizar consultar sobre los datos que vayamos a explorar.

In [4]:
import pandas as pd
import os
file = os.path.join('https://raw.githubusercontent.com/al34n1x/ds_demo/main/2.data/imdb_movies.csv') #Define el path al archivo
df = pd.read_csv(file)
df['genre'] = df['genre'].str.split(',').str[0] # Lo usamos para quedarnos con solo un género
df['crew'] = df['crew'].str.split(',').str[0] # Lo usamos para quedarnos con solo un género
df

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,Drama,"After dominating the boxing world, Adonis Cree...",Michael B. Jordan,Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,Science Fiction,Set more than a decade after the events of the...,Sam Worthington,Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,Animation,"While working underground to fix a water main,...",Chris Pratt,The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,Animation,"Through a series of unfortunate events, three ...",Óscar Barberán,Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,Skeet Ulrich,Supercell,Released,English,77000000.0,3.409420e+08,US
...,...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73.0,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...",Annette Bening,20th Century Women,Released,English,7000000.0,9.353729e+06,US
10174,Delta Force 2: The Colombian Connection,08/24/1990,54.0,Action,When DEA agents are taken captive by a ruthles...,Chuck Norris,Delta Force 2: The Colombian Connection,Released,English,9145817.8,6.698361e+06,US
10175,The Russia House,12/21/1990,61.0,Drama,"Barley Scott Blair, a Lisbon-based editor of R...",Sean Connery,The Russia House,Released,English,21800000.0,2.299799e+07,US
10176,Darkman II: The Return of Durant,07/11/1995,55.0,Action,Darkman and Durant return and they hate each o...,Larry Drake,Darkman II: The Return of Durant,Released,English,116000000.0,4.756613e+08,US
10177,The Swan Princess: A Royal Wedding,07/20/2020,70.0,Animation,Princess Odette and Prince Derek are going to ...,Nina Herzog,The Swan Princess: A Royal Wedding,Released,English,92400000.0,5.394018e+08,GB

# Showtime!

![](https://www.muraldecal.com/en/img/asmu272-jpg/folder/products-listado-merchant/stickers-rock-and-roll-homer-.jpg)

In [ ]:
!pip install --upgrade pandas pandasai

In [8]:
from pandasai import PandasAI
from pandasai.llm.openai import OpenAI
OPENAI_API_KEY = ""
llm = OpenAI(api_token=OPENAI_API_KEY)

In [5]:
df

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,Drama,"After dominating the boxing world, Adonis Cree...",Michael B. Jordan,Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,Science Fiction,Set more than a decade after the events of the...,Sam Worthington,Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,Animation,"While working underground to fix a water main,...",Chris Pratt,The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,Animation,"Through a series of unfortunate events, three ...",Óscar Barberán,Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,Skeet Ulrich,Supercell,Released,English,77000000.0,3.409420e+08,US
...,...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73.0,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...",Annette Bening,20th Century Women,Released,English,7000000.0,9.353729e+06,US
10174,Delta Force 2: The Colombian Connection,08/24/1990,54.0,Action,When DEA agents are taken captive by a ruthles...,Chuck Norris,Delta Force 2: The Colombian Connection,Released,English,9145817.8,6.698361e+06,US
10175,The Russia House,12/21/1990,61.0,Drama,"Barley Scott Blair, a Lisbon-based editor of R...",Sean Connery,The Russia House,Released,English,21800000.0,2.299799e+07,US
10176,Darkman II: The Return of Durant,07/11/1995,55.0,Action,Darkman and Durant return and they hate each o...,Larry Drake,Darkman II: The Return of Durant,Released,English,116000000.0,4.756613e+08,US
10177,The Swan Princess: A Royal Wedding,07/20/2020,70.0,Animation,Princess Odette and Prince Derek are going to ...,Nina Herzog,The Swan Princess: A Royal Wedding,Released,English,92400000.0,5.394018e+08,GB

In [9]:
pandas_ai = PandasAI(llm)
pandas_ai.run(df, prompt='Cuantas películas realizo Sean Connery?')

'Sean Connery hizo un total de 15 películas.'

In [ ]:
pandas_ai.run(df, prompt='Cuantas películas')

'Well, based solely on their GPA, it looks like John would be the top candidate for the job.'

In [ ]:
pandas_ai.run(df, prompt='Quien vive cerca de Austin')

'Hay tres personas que viven cerca de Austin: John, Ron y Pete.'