<a href="https://colab.research.google.com/github/al34n1x/ds_demo/blob/main/1.notebooks/1.pandasai_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>[Carga de datos en Panda](#scrollTo=nelHfwuqPmDH)

>[Leer y escribir datos en formato de texto](#scrollTo=BWuTIsOpoywz)

>>[Funciones](#scrollTo=vcc8_MSHtmtm)

>>[Trabajando con valores faltantes](#scrollTo=NseoQfuAPzpQ)

>>[Leer archivos de texto en partes](#scrollTo=lELr76GBRh1n)

>>[Escribiendo Datos en formato texto](#scrollTo=r31ppoPyT6vS)

>>[Formato CSV](#scrollTo=cRWqIex1hjLb)

>>[JSON Data](#scrollTo=Fumt3vFx_CnF)

>>[XML y HTML Web Scrapping](#scrollTo=RAFNinVHUZVx)

>>[Formato HDF5](#scrollTo=The4cD8zbg4-)

>>[Lectura desde archivos Microsoft Excel](#scrollTo=OOyHUIhxddJW)

>>[Interactuando con APIs](#scrollTo=fTfC_zNBgRGY)

>>[Interactuando con Base de Datos](#scrollTo=PdIyYXWNhY18)

# Carga de datos en Pandas

Como hemos discutdo, acceder a los datos es un importantísimo primer paso proceder con su análisis. 
La entrada y salida de de datos generalmente se pueden dividir en las siguientes categorías, leer archivos de texto u otro formato (csv, tabulado, etc)cargar datos desde una base de datos, e interactuar con recursos de red como puede ser una página web o una interface API.

# Leer y escribir datos en formato de texto

Pandas posee muchas herramientas para leer archivos tabulados e insertarlos en un objeto dataframe. 
Algunas de las funciones con las que trabajarás son **read_csv** y **read_table**

## Funciones 

Aquí algunas funciones ampliamente utilizadas for Pandas que serán de utilidad para el desarrollo de las actividades.




Función | Descripción
--- | ---
**read_csv** | Cargue datos delimitados de un archivo, URL u objeto similar a un archivo; usar coma como delimitador predeterminado
**read_table** | Cargue datos delimitados de un archivo, URL u objeto similar a un archivo; use tab ('\ t') como delimitador predeterminado
**read_fwf** | 	Leer datos en formato de columna de ancho fijo, (es decir, sin delimitadores
**read_clipboard** | Versión de read_table que lee datos del portapapeles; útil para convertir tablas de páginas web
**read_excel** | Leer datos tabulares de un archivo Excel XLS o XLSX
**read_hdf** | Leer archivos HDF5 escritos por pandas
**read_html**| Leer todas las tablas encontradas en un documento HTML dado
**read_json**	| Leer datos de una representación de cadena JSON (JavaScript Object Notation)
**read_msgpack**|Leer datos de pandas codificados con el formato binario MessagePack
**read_pickle**|Leer un objeto arbitrario almacenado en formato Python pickle
**read_sas**|Leer un conjunto de datos almacenado en uno de los formatos de almacenamiento personalizados del sistema SAS
**read_sql**|Lea los resultados de una consulta SQL (usando SQLAlchemy) como un DataFrame de pandas
**read_stata**|Leer un conjunto de datos del formato de archivo Stata
**read_feather**|Lea el formato de archivo binario Feather

Los argumentos opcionales para estas funciones pueden caer en alguna de estás categorías:

**Indexación**
Puede tratar una o más columnas como el DataFrame devuelto, y si desea obtener nombres de columna del archivo, el usuario, o no obtenerlos.

**Inferencia de tipos y conversión de datos**
Esto incluye las conversiones de valores definidos por el usuario y la lista personalizada de marcadores de valores faltantes.

**Análisis de fecha y hora**
Incluye la capacidad de combinación, incluida la combinación de información de fecha y hora distribuida en varias columnas en una sola columna en el resultado.

**Iterando**
Soporte para iterar sobre fragmentos de archivos muy grandes.

**Problemas de datos sucios/ruido**
Saltar filas o un pie de página, comentarios u otras cosas menores como datos numéricos con miles separados por comas.

In [ ]:
import pandas as pd
import os
file = os.path.join('./sample_data/california_housing_train.csv') #Define el path al archivo
df = pd.read_csv(file)
df

In [ ]:
pd.read_table('./sample_data/california_housing_train.csv', sep=',') # También podemos usar read_table con un delimitador

Podemos eliminar los headers utilizando el parámetro correspondiente **header=none**

In [ ]:
df = pd.read_csv('./sample_data/california_housing_train.csv', header=None, names=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'])
df

In [ ]:
df2 = df.drop(index=0) #Eliminamos la primera fila que nos había quedado con los headers originales 
df2

Podemos crear índices jerárquicos desde multiples columnas o nombres

In [ ]:
df3 = pd.read_csv('https://raw.githubusercontent.com/al34n1x/DataScience/master/3.Pandas/Herarchical_index.csv')
df3

In [ ]:
df_parsed = pd.read_csv('https://raw.githubusercontent.com/al34n1x/DataScience/master/3.Pandas/Herarchical_index.csv',
                        index_col=['key1', 'key2'])
df_parsed

En algunas situaciones nos encontraremos con archivos que no estan delimitados por comas. en dichos casos, podemos pasar expresioner regulares como delimitadores de la función **read_table**. En el siguiente caso importaremos un archivo con espacios en blanco como delimitador

In [ ]:
df4 = pd.read_table('https://raw.githubusercontent.com/al34n1x/DataScience/master/3.Pandas/file_spaces.txt', sep='\s+') #Le pasamos el delimitador
df4

Que sucede cuando nos encontramos con archivos que poseen datos innecesarios?

In [ ]:
df5 = pd.read_csv('https://raw.githubusercontent.com/al34n1x/DataScience/master/3.Pandas/file_comments.csv')
df5

In [ ]:
df5 = pd.read_csv ('https://raw.githubusercontent.com/al34n1x/DataScience/master/3.Pandas/file_comments.csv', skiprows=[0,2,3])
df5

## Trabajando con valores faltantes

El manejo de valores perdidos es una parte importante y frecuentemente matizada del proceso de análisis de archivos. Los datos que faltan generalmente no están presentes o están marcados por algún valor de referencia. Por defecto, Pandas usa un conjunto de referencia comunes, como NA y NULL:

In [ ]:
df6 = pd.read_csv('https://raw.githubusercontent.com/al34n1x/DataScience/master/3.Pandas/missing_values.csv')
df6

In [ ]:
pd.isnull(df6)

También podemos agregar valores de referencia y anidarlos como diccionarios por columnas y filas.

In [ ]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('https://raw.githubusercontent.com/al34n1x/DataScience/master/3.Pandas/missing_values.csv', na_values=sentinels)

## Leer archivos de texto en partes

Cuando procesamos archivos muy grandes o descubres el conjunto correcto de argumentos para procesar correctamente un archivo grande, es posible que solo desees leer en una pequeña parte de un archivo o iterar a través de fragmentos más pequeños del mismo.

Antes de mirar un archivo grande, hacemos que la configuración de visualización de pandas sea más compacta:

In [ ]:
pd.options.display.max_rows = 10

In [ ]:
df7 = pd.read_csv('https://raw.githubusercontent.com/al34n1x/DataScience/master/3.Pandas/big_file.csv')
df7

In [ ]:
df7 = pd.read_csv('https://raw.githubusercontent.com/al34n1x/DataScience/master/3.Pandas/big_file.csv', nrows=5) #Definimos número de filas
df7

Para poder leer un archivo en diferentes trozos, se debe especificar el parámetro **chunksize** como el número de filas.

In [ ]:
import pandas as pd
chunk = pd.read_csv('https://raw.githubusercontent.com/al34n1x/DataScience/master/3.Pandas/big_file.csv', chunksize=1000)
chunk

In [ ]:
for i in chunk:
  print(i)

In [ ]:
tot = pd.Series([]) # Creamos un objeto serie
for piece in chunk: #iteramos
    tot = tot.add(piece['key'].value_counts(), fill_value=0) #vamos agregando los valores de chunk en la serie

tot = tot.sort_values(ascending=False)
tot[:10] # Mostramos los primeros 10

## Escribiendo Datos en formato texto

Los datos pueden ser exportados en formato delimitado, por ejemplo consideremos el siguiente archivo de lectura. Tanto los DataFrame como las Series permiten exportar el resultado con el método **.to_csv**

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/al34n1x/DataScience/master/3.Pandas/missing_values.csv')
data

Usando el método Dataframe a csv podemos escribir datos a archivos delimitados por coma.

In [ ]:
data.to_csv ('./sample_data/missing_values_out.csv')

In [ ]:
!cat './sample_data/missing_values_out.csv'

Podemos utilizar otros delimitadores utilizando el método Python **sys.stdout** para imprimir el resultado por consola.

In [ ]:
import sys
data.to_csv(sys.stdout, sep='|')

Adicionalmente, se puede especificar nulos en aquellos valores faltantes.

In [ ]:
data.to_csv(sys.stdout, na_rep='NULL')

## Formato CSV

Los archivos CSVs suelen venir en diferentes formatos. Se puede definir un formato con diferente delimitadores, convención de cadenas, o terminadores de lineas mediante la implementación de una sublcase.

In [ ]:
import csv
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ','
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL #add quote only when required
f = open('./sample_data/missing_values_out.csv')
reader = csv.reader(f, dialect=my_dialect)

for line in reader:
  print(line)

['one', 'two', 'three']
['1', '2', '3']
['4', '5', '6']
['7', '8', '9']

Para escribir archivos delimitados de forma manual puedes usar el método **csv.writer**. Accepta los mismo tipos de archivos, dialectos y opciones de formato que el método **csv.reader**

In [ ]:
with open('./sample_data/missing_values_out.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [ ]:
!cat './sample_data/missing_values_out.csv'

## JSON Data

JSON (abreviatura de JavaScript Object Notation) se ha convertido en uno de los formatos estándar para enviar datos por solicitud HTTP entre navegadores web y otras aplicaciones. Es un formato de datos mucho más libre que un formulario de texto tabular como CSV. 
Al trabajar con archivos en format JSON puedes utilizar infindad de herramientas para evaluar la correcta redacción del código, por ejemplo [JSON Formatter](https://jsonformatter.curiousconcept.com/) 
Aquí hay un ejemplo:

```
{
   "nombre":"Wes",
   "lugares_donde_vivio":[
      "United States",
      "Spain",
      "Germany"],

   "mascotas":null,
   "hermanos":[
      {
         "nombre":"Willy",
         "edad":30,
         "mascotas":[
            "Zeus",
            "Zuko"]
      },
      {
         "nombre":"Wonka",
         "edad":38,
         "mascotas":[
            "Sixes",
            "Stache",
            "Cisco"]
      
      }
   
    ]
}

```

In [ ]:
obj = """
{"nombre": "Wes",
 "lugares_donde_vivio": ["United States", "Spain", "Germany"],
 "mascotas": null,
 "hermanos": [{"nombre": "Willy", "edad": 30, "mascotas": ["Zeus", "Zuko"]},
              {"nombre": "Wonka", "edad": 38,
               "mascotas": ["Sixes", "Stache", "Cisco"]}]
}
"""

JSON es casi un código de Python válido con la excepción de su valor nulo y algunos otros matices (como no permitir las comas finales al final de las listas). 
Los tipos básicos son objetos, matrices, cadenas, números, booleanos y nulos. 
Todas las claves en un objeto deben ser cadenas. Hay varias bibliotecas de Python para leer y escribir datos JSON. Usaremos json aquí, ya que está integrado en la biblioteca estándar de Python. Para convertir una cadena JSON a Python, usa **json.loads**:

In [ ]:
import json
resultado = json.loads(obj) # importamos el objeto con los datos en formato json
resultado

El método **json.dumps** convierte un objeto Python a JSON

In [ ]:
asjson = json.dumps(resultado)

Convertir un objeto JSON o una lista de objetos en un DataFrame o alguna estructura depende del desarrollador. 
Convenientemente, puede pasar una lista de dictados (que anteriormente eran objetos JSON) al constructor DataFrame y seleccionar un subconjunto de los campos de datos:

In [ ]:
hermanos = pd.DataFrame(resultado['hermanos'], columns=['nombre', 'edad'])
hermanos

Asimismo puedes leer un archivo en formato JSON y convertirlo directamente a un objeto DataFrame mediante el método **pd.read_json**

In [ ]:
import pandas as pd
data = pd.read_json('https://raw.githubusercontent.com/al34n1x/DataScience/master/3.Pandas/ejemplo.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

## XML y HTML Web Scrapping

Python tiene muchas librerías para leer y escribir datos en formatos HTML y XML. Los ejemplos incluyen **lxml**, **Beautiful Soup** y **html5lib**. Si bien **lxml** es comparativamente mucho más rápido en general, las otras bibliotecas pueden manejar mejor los archivos HTML o XML con formato incorrecto.

Pandas tiene una función incorporada, **read_html**, que usa librerías como **lxml** y **Beautiful Soup** para analizar automáticamente tablas de archivos HTML como objetos DataFrame.

Para demostrar cómo funciona esto, descargaremos un archivo HTML  de la agencia gubernamental de la FDIC de los Estados Unidos que muestra las quiebras bancarias.

In [ ]:
tablas = pd.read_html('https://raw.githubusercontent.com/al34n1x/DataScience/master/3.Pandas/informacion_fdic.html')
len(tablas)

1

In [ ]:
tablas[0].head(10)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
5,Hometown National Bank,Longview,WA,35156,Twin City Bank,"October 2, 2015","April 13, 2016"
6,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,"October 2, 2015","October 24, 2016"
7,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb","July 10, 2015","August 17, 2016"
8,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,"May 8, 2015","July 12, 2016"
9,Doral Bank En Espanol,San Juan,PR,32102,Banco Popular de Puerto Rico,"February 27, 2015","May 13, 2015"

**XML (eXtensible Markup Language)** es otro formato común de datos estructurados que admite datos jerárquicos y anidados con metadatos. 

Es similar a HTML en su apariencia, pero XML se usa para la presentación de datos, mientras que HTML se usa para definir qué datos se están usando. XML está diseñado exclusivamente para enviar y recibir datos entre clientes y servidores.

Anteriormente, se mostró la función **pandas.read_html**, que usa lxml o Beautiful Soup debajo del capó para analizar datos de HTML. XML y HTML son estructuralmente similares, pero XML es más general.

En el siguiente ejemplo tomaremos un DataSet del *New York Metropolitan Transportation Authority (MTA)* que publica información sobre los servicios de Bus y Trenes.

In [ ]:
from urllib.request import urlopen #Importamos Librería de manejo de URL 
from xml.etree.ElementTree import parse #Importamos Librería de gestión de formato XML 
from lxml import objectify


var_url = urlopen("https://raw.githubusercontent.com/al34n1x/DataScience/master/3.Pandas/mta_performance.xml")
xmldoc = objectify.parse(var_url)
root = xmldoc.getroot()
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

**root.INDICATOR** devuelve un generador para cada elemento <INDICADOR> XML. Para cada entrada, podemos obtener dicho diccionario de los tags como YTD_ACTUAL.

In [ ]:
for elt in root.INDICATOR:  # Iteramos sobre el archivo XML y los diferentes Tags
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data) # Agregamos contenidos en la variable data

perf = pd.DataFrame(data) # Convertimos data a un DataFrame
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95.0,96.9,95.0,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95.0,96.0,95.0,95.0
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95.0,96.3,95.0,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95.0,96.8,95.0,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95.0,96.6,95.0,95.8

## Formato HDF5

HDF5 es un formato de archivo ampliamente utilizado  destinado a almacenar grandes cantidades de datos científicos. Está disponible como una biblioteca C y tiene interfaces disponibles en muchos otros lenguajes, incluidos Java, Julia, MATLAB y Python. 
"HDF" en HDF5 significa formato de datos jerárquico. 
Cada archivo HDF5 puede almacenar múltiples conjuntos de datos y metadatos compatibles. En comparación con formatos más simples, HDF5 admite la compresión sobre la marcha con una variedad de modos de compresión, lo que permite que los datos con patrones repetidos se almacenen de manera más eficiente. HDF5 puede ser una buena opción para trabajar con conjuntos de datos muy grandes que no caben en memoria, ya que puede leer y escribir eficientemente pequeñas secciones de conjuntos mucho más grandes.

Pandas proporciona una interfaz de alto nivel que simplifica el almacenamiento de objetos Series y DataFrame en dicho formato. La clase HDFStore funciona como un dict y maneja los detalles de bajo nivel:

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'a': np.random.randn(100)})
df

           a
0  -0.574336
1  -0.067770
2  -0.205784
3   1.100480
4  -0.237814
..       ...
95 -1.007264
96  0.491054
97 -0.462703
98  1.518598
99  1.000131

[100 rows x 1 columns]

In [ ]:
almacenamiento = pd.HDFStore('./sample_data/mydata.h5')
almacenamiento['obj1'] = df
almacenamiento

<class 'pandas.io.pytables.HDFStore'>
File path: ./sample_data/mydata.h5

In [ ]:
almacenamiento['obj1'] #Los objetos almacenados en HDF5 pueden ser obtenidos mediante el mismo dict

           a
0  -0.574336
1  -0.067770
2  -0.205784
3   1.100480
4  -0.237814
..       ...
95 -1.007264
96  0.491054
97 -0.462703
98  1.518598
99  1.000131

[100 rows x 1 columns]

HDFStore soporta dos tipos de esquema de almacenamiento **Fijo** y **Tabla**, siendo el último más lento, pero soporta operaciones de consulta usando syntax especial

In [ ]:
almacenamiento.put('obj2', df, format='table')
almacenamiento.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  1.360872
11  1.883702
12  0.056989
13 -1.877903
14 -0.037170
15  0.189521

La función **pandas.read_hdf** provee un shortcut a estas herramientas

In [ ]:
df.to_hdf('./sample_data/mydata_2.h5', 'obj3', format='table')

In [ ]:
pd.read_hdf('./sample_data/mydata_2.h5', 'obj3', where=['index < 5'])

          a
0 -0.574336
1 -0.067770
2 -0.205784
3  1.100480
4 -0.237814

## Lectura desde archivos Microsoft Excel

Pandas también admite la lectura de datos tabulares almacenados en archivos Excel 2003 (y superiores) utilizando la clase **ExcelFile** o la función **pandas.read_excel**. Internamente, estas herramientas utilizan los paquetes complementarios **xlrd** y **openpyxl** para leer archivos XLS y XLSX, respectivamente.

In [ ]:
xlsx = pd.ExcelFile('https://github.com/al34n1x/DataScience/blob/master/3.Pandas/sample.xlsx?raw=true')
df = pd.read_excel(xlsx, 'Sheet1')
df

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

Para escribir datos Pandas a formato Excel debes primero crear un ExcelWriter, luego escribir los datos utilizando objetos Pandas a métodos excel

In [ ]:
writer = pd.ExcelWriter('./sample_data/sample_output.xlsx')
df.to_excel(writer,'sheet1')
writer.close()

## Interactuando con APIs

Muchos sitios web tienen API públicas que proporcionan datos a través de JSON o algún otro formato. Hay varias formas de acceder a estas API desde Python; Un método fácil de usar que recomiendo es el paquete **requests**

In [ ]:
import requests
'''
La siguiente API nos da los últimos 30 issues de Pandas en Github.
Podemos utilizar un método GET HTTP para poder hacernos de la información
'''
url = 'https://api.github.com/repos/pandas-dev/pandas/issues' 
resp = requests.get(url)
resp

In [ ]:
datos = resp.json()
datos[0]['pull_request']

{'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/53296',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/53296',
 'diff_url': 'https://github.com/pandas-dev/pandas/pull/53296.diff',
 'patch_url': 'https://github.com/pandas-dev/pandas/pull/53296.patch',
 'merged_at': None}

In [ ]:
issues = pd.DataFrame(datos, columns=['number', 'title',
                  'labels', 'state'])
issues

,number,title,labels,state
0,53296,BUG: dtype of DataFrame.idxmax/idxmin incorrec...,[],open
1,53295,BUG: read_csv raising for arrow engine and par...,"[{'id': 47229171, 'node_id': 'MDU6TGFiZWw0NzIy...",open
2,53294,"BUG `date_range` with end, periods, and freq f...",[],open
3,53293,"BUG: `date_range` with end, periods, and freq ...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,53292,DOC: Fixing EX01 - Added examples,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
5,53291,DEPR: allow DataFrame[mask]=value with mixed n...,[],open
6,53289,BUG: Erratic behavior of rolling().std(),"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
7,53287,BUG: Get a `TypeError: attribute of type 'str'...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
8,53286,DOC: 404 Error when trying to switch doc versi...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
9,53285,BUG: read_csv parsing error with double pipe (...,"[{'id': 34444536, 'node_id': 'MDU6TGFiZWwzNDQ0...",open
10,53284,BUG: Missing date formatting parameters,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
11,53282,ENH: Add sort keyword to stack,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
12,53281,ENH: Histogram axis labels,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
13,53279,DOC: Incorrect explanation of merge_asof with ...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
14,53278,BUG: ArrowExtensionArray.__add__(DTA[tzlocal])...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,53273,BUG: Possible bug in rolling standard deviatio...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
16,53272,BUG: Resampler.ohlc with empty data,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
17,53271,"DOC: Change ""Convention for examples"" to use S...","[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
18,53268,BUG: Compiling a single file to get documentat...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
19,53265,BUG: dtype of DataFrame.idxmax/idxmin incorrec...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,53264,DOC: Add to_sql example of conflict with `meth...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
21,53261,REF: Reductions,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
22,53260,REF: split out dtype-finding in concat_compat,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
23,53252,"ENH: simple, compact and reversible JSON inter...","[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
24,53248,BUG: Use operator.xor() for dataframe boolean ...,[],open
25,53245,BUG: DataFrame.plot.hist and Series.plot.hist ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,53243,ENH: default chunksize in mySql,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
27,53239,API: auto-detect when to use numba,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
28,53237,BUG `DataFrameGroupBy.agg` with list not respe...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,53236,BUG: np.find_common_type is deprecated in nump...,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open

## Interactuando con Base de Datos

En un entorno empresarial, es posible que la mayoría de los datos no se almacenen en archivos de texto o Excel. Las bases de datos relacionales basadas en SQL (como Oracle, SQL Server, PostgreSQL y MySQL) se usan ampliamente, y muchas bases de datos alternativas se han vuelto bastante populares. 

Cargar datos de SQL en un DataFrame es bastante sencillo, y Pandas tiene algunas funciones para simplificar el proceso.

In [ ]:
import sqlite3

#Creamos una tabla en una base de datos sqlite3

query = """
    CREATE TABLE test 
    ( a VARCHAR(20), 
      b VARCHAR(20),
      c REAL, 
      d INTEGER
    );"""

con = sqlite3.connect('mydata.sqlite')
con.execute(query)

In [ ]:
con.commit()

In [ ]:
datos = [('Buenos Aires', 'La Plata', 1.25, 6),
              ('Mendoza', 'Ciudad de Mendoza', 2.6, 3),
              ('San Luis', 'San Luis', 1.7, 5)]


query = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(query, datos)
con.commit()

In [ ]:
cursor = con.execute('select * from test')
filas = cursor.fetchall()
filas

[('Buenos Aires', 'La Plata', 1.25, 6),
 ('Mendoza', 'Ciudad de Mendoza', 2.6, 3),
 ('San Luis', 'San Luis', 1.7, 5)]

Esto es un poco molesto, asumimos que el desarrollador no prefiere repetir estos pasos cada vez que consulta la base de datos. 
El proyecto **SQLAlchemy** es un popular kit de herramientas Python SQL que abstrae muchas de las diferencias comunes entre las bases de datos SQL. 
Pandas tiene una función **read_sql** que le permite leer datos fácilmente desde una conexión SQLAlchemy general.

In [ ]:
!pip install --upgrade 'sqlalchemy<2.0'

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy<2.0 in /usr/local/lib/python3.10/dist-packages (1.4.48)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy<2.0) (2.0.2)

In [ ]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
'''
Hacemos un query a la base de datos seleccionando todo 
en la tabla test y se lo asignamos al DataFrame df
'''
df = pd.read_sql('select * from test where b = "La Plata" ', db) 
df

              a         b     c  d
0  Buenos Aires  La Plata  1.25  6

# Uso de clases de datos para crear modelos de base de datos en Python

En Python, las clases de datos son una forma de definir clases simples para almacenar datos. Se definen utilizando el decorador `@dataclass` y el módulo dataclasses, que se introdujo en Python 3.7.

Una clase de datos se define como una clase normal de Python pero con el decorador @dataclass aplicado.

In [ ]:
import pandas as pd
from dataclasses import dataclass
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

Base = declarative_base()

@dataclass
class Person(Base):
    __tablename__ = 'person'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    age = Column(Integer)
    city = Column(String)
    gpa = Column(Float)

In [ ]:
engine = create_engine('sqlite:///test.db')
Base.metadata.create_all(bind=engine)
Session = sessionmaker(bind=engine)
session = Session()

In [ ]:
p1 = Person(name="John", age=30, city='San Diego', gpa=4.4)
session.add(p1)
p2 = Person(name="Ron", age=25, city='Boston', gpa=4)
session.add(p2)
p3 = Person(name="Pete", age=32, city='New York', gpa=4.1)
session.add(p3)
session.commit()

In [ ]:
all_persons = session.query(Person).all()
for user in all_persons:
    print(user.name, user.age, user.city, user.gpa)

John 30 San Diego 4.4
Ron 25 Boston 4.0
Pete 32 New York 4.1

In [ ]:
# Usando df podemos hacer la misma consulta
df = pd.read_sql('select * from person', engine)
df

   id  name  age       city  gpa
0   1  John   30  San Diego  4.4
1   2   Ron   25     Boston  4.0
2   3  Pete   32   New York  4.1

# Showtime!

![](https://www.muraldecal.com/en/img/asmu272-jpg/folder/products-listado-merchant/stickers-rock-and-roll-homer-.jpg)

In [ ]:
!pip install --upgrade pandas pandasai

In [ ]:
from pandasai import PandasAI
from pandasai.llm.openai import OpenAI
OPENAI_API_KEY = " "
llm = OpenAI(api_token=OPENAI_API_KEY)

In [ ]:
df

   id  name  age       city  gpa
0   1  John   30  San Diego  4.4
1   2   Ron   25     Boston  4.0
2   3  Pete   32   New York  4.1

In [ ]:
pandas_ai = PandasAI(llm)
pandas_ai.run(df, prompt='What is John age?')

'John is 30 years old.'

In [ ]:
pandas_ai.run(df, prompt='Who is the best candidate for a job based only on the gpa?')

'Well, based solely on their GPA, it looks like John would be the top candidate for the job.'

In [ ]:
pandas_ai.run(df, prompt='Quien vive cerca de Austin')

'Hay tres personas que viven cerca de Austin: John, Ron y Pete.'